# Add Featurs Distance to Closest Subway/Bus Station and Related Name

In [97]:
import pandas as pd
df = pd.read_csv('C:/Users/Quinntang/Desktop/Airbnb data/listings.csv')

In [9]:
subway_data = pd.read_csv('C:/Users/Quinntang/Desktop/Airbnb data/StationEntrances.csv')

In [ ]:
bus_data = pd.read_csv('C:/Users/Quinntang/Desktop/Airbnb data/Bus_Stop_Shelter.csv')

In [99]:
# Extract the infomation from the data set
sub_info = dict()
for i in range(len(subway_data)):
    sub_info[subway_data.iloc[i]['Station_Name']] = (subway_data.iloc[i]['Station_Latitude'],subway_data.iloc[i]['Station_Longitude'])

In [111]:
# Define function to calculate the distance using 'Haversine' distance formula. 
def getdistance(la1,lg1,compare_data):
    import math
    earth_radius = 6738.137
    km_to_miles = 0.621371192
    distance = list()
    la1_rad = la1*(math.pi/180)
    lg1_rad = lg1*(math.pi/180)
    for keys,values in compare_data.items():
        la2_rad = values[0]*(math.pi/180)
        lg2_rad = values[1]*(math.pi/180)
        a = la1_rad - la2_rad
        b = lg1_rad - lg2_rad
        s = 2 * math.asin(math.sqrt(math.pow(math.sin(a/2),2)+ math.cos(la1_rad)*math.cos(la2_rad)*math.pow(math.sin(b/2),2)))*earth_radius*km_to_miles
        result = (keys,s)
        distance.append(result)
    distance.sort(key=lambda k: k[1])
    return distance[0][1]

In [112]:
# Define function to return the name of the closest station name
def getstationname(la1,lg1,compare_data):
    import math
    earth_radius = 6738.137
    km_to_miles = 0.621371192
    distance = list()
    la1_rad = la1*(math.pi/180)
    lg1_rad = lg1*(math.pi/180)
    for keys,values in compare_data.items():
        la2_rad = values[0]*(math.pi/180)
        lg2_rad = values[1]*(math.pi/180)
        a = la1_rad - la2_rad
        b = lg1_rad - lg2_rad
        s = 2 * math.asin(math.sqrt(math.pow(math.sin(a/2),2)+ math.cos(la1_rad)*math.cos(la2_rad)*math.pow(math.sin(b/2),2)))*earth_radius*km_to_miles
        result = (keys,s)
        distance.append(result)
    distance.sort(key=lambda k: k[1])
    return distance[0][0]

In [115]:
df['dis_to_closest_subway'] = df.apply(lambda x: getdistance(x['latitude'],x['longitude'],sub_info),axis = 1)

In [116]:
df['closest_subway_station'] = df.apply(lambda x: getstationname(x['latitude'],x['longitude'],sub_info),axis = 1)

In [130]:
# Extract the infomation from the data set
bus_info = dict()
for i in range(len(subway_data)):
    bus_info[(bus_data.iloc[i]['SHELTER_ID'],bus_data.iloc[i]['Street'])] = (bus_data.iloc[i]['LATITUDE'],bus_data.iloc[i]['LONGITUDE'])

In [133]:
df['dis_to_closest_bus'] = df.apply(lambda x: getdistance(x['latitude'],x['longitude'],bus_info),axis = 1)

In [136]:
df['closest_bus_station'] = df.apply(lambda x: getstationname(x['latitude'],x['longitude'],bus_info),axis = 1)

In [164]:
# Test Code for transport_recommendation (Bus/Subway Accessibility)
# def transport_recommendation():
#     val = input('Please choose the maximum distance you accept(in miles): ')
#     r1 = input('Pleae indicate the level you prefer taking bus or subway, 0 means mostly prefer bus and 5 means mostly prefer subway: ')
#     loc = input('Please indicate the borough you want to explore: ')
#     if float(r1) >= 4:
#         result = df[(df['dis_to_closest_subway']<=float(val))&(df['dis_to_closest_bus']<=float(val))&(df['neighbourhood_group']==loc)].sort_values(by='dis_to_closest_subway').head(5)
#     elif 2.5 <= float(r1) < 4:
#         result = df[(df['dis_to_closest_subway']<=float(val))&(df['dis_to_closest_bus']<=float(val))&(df['neighbourhood_group']==loc)].sort_values(by=['dis_to_closest_subway','dis_to_closest_bus']).head(5)
#     elif 1 < float(r1) < 2.5:
#         result = df[(df['dis_to_closest_subway']<=float(val))&(df['dis_to_closest_bus']<=float(val))&(df['neighbourhood_group']==loc)].sort_values(by=['dis_to_closest_bus','dis_to_closest_subway']).head(5)
#     elif float(r1) <= 1:
#         result = df[(df['dis_to_closest_subway']<=float(val))&(df['dis_to_closest_bus']<=float(val))&(df['neighbourhood_group']==loc)].sort_values(by=['dis_to_closest_bus']).head(5)
#     return result

In [165]:
transport_recommendation()

Please choose the maximum distance you accept(in miles): 0.2
Pleae indicate the level you prefer taking bus or subway, 0 means mostly prefer bus and 5 means mostly prefer subway: 1
Please indicate the borough you want to explore: Queens

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,dis_to_closest_subway,closest_subway_station,dis_to_closest_bus,closest_bus_station
45462,26768574,Brilliant BR w/ Private Bath near LGA & Manhattan,5776520,Hadiza,Queens,Woodside,40.745893,-73.906422,Private room,64,30,0,NaN,NaN,28,240,0.191305,Woodside Av-61st St,0.003891,"(QN04927, 58 STREET)"
4025,2028432,Beautiful sunny room with backyard!,10243387,Cynthia&Mirlet,Queens,Long Island City,40.758323,-73.928738,Shared room,72,2,23,2016-11-14,0.43,2,270,0.120300,36 Av-Washington Av,0.004314,"(QN04504, 35 AVENUE)"
22195,14089282,"Comfy room in brownstone, Ridgewood",57517386,Ruthy,Queens,Ridgewood,40.703649,-73.895717,Private room,100,1,0,NaN,NaN,1,0,0.185613,Fresh Pond Rd,0.005011,"(QN0232, FRESH POND ROAD)"
42018,24699443,Beautiful NYC Apartment,186668589,Kary,Queens,Sunnyside,40.743293,-73.916951,Private room,65,4,1,2018-05-31,0.24,1,0,0.082994,Bliss St-46th St,0.005039,"(QN04794, 48 STREET)"
40695,23894777,"Sunny side, NY Apartment",179567961,Ana,Queens,Sunnyside,40.742587,-73.916517,Entire home/apt,80,20,1,NaN,NaN,1,197,0.113397,Bliss St-46th St,0.005407,"(QN04574, QUEENS BOULEVARD)"

In [168]:
df.to_csv('C:/Users/Quinntang/Desktop/Airbnb data/listing_new.csv')